{% extends 'salary_app/base.html' %}
{% block body %}
    <form method="POST" action="update/{{ student.id }}">
        {% csrf_token %}
        <div class="form-group">
            <label for="name">Student Name</label>
            <input type="text" name="name" value="{{ student.name }}" required="required"/>
        </div>
        <div class="form-group">
            <label for="company">Company Name</label>
            <input type="text" name="company" value="{{ student.company }}" required="required"/>
        </div>
        <div class="form-group">
            <label for="salary">Salary in Lakhs</label>
            <input type="text" name="salary" value="{{ student.salary }}" required="required"/>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-edit"></span> Update</button>
        </div>
    </form>
{% endblock %}
